src/main/resources/META-INF/mule-api.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/api" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
    xmlns:beans="http://www.springframework.org/schema/beans" targetNamespace="http://www.mulesoft.org/schema/mule/api"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc" schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.3/mule-schemadoc.xsd" />

    <xsd:annotation>
        <xsd:documentation>
            APIkit is a Mule module for building ReST and Web Service API's
        </xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>APIkit</schemadoc:short-name>
            <schemadoc:page-title>APIkit Module</schemadoc:page-title>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:complexType name="apiType">
        <xsd:annotation>
            <xsd:documentation>
                An API that define as a set of services and their interfaces
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="abstract-web-service-interface" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="abstract-web-service" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="abstract-web-service-interface" abstract="true" type="abstractWebServiceInterfaceType">
        <xsd:annotation>
            <xsd:documentation>
                A placeholder for web service elements.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="abstract-web-service" abstract="true" type="abstractWebServiceType">
        <xsd:annotation>
            <xsd:documentation>
                A placeholder for web service elements.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="abstract-web-service-route" abstract="true" type="abstractWebServiceRoute">
        <xsd:annotation>
            <xsd:documentation>
                A placeholder for web service routes.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

   <xsd:element name="abstract-web-service-operation" abstract="true" type="abstractWebServiceOperationType">
        <xsd:annotation>
            <xsd:documentation>
                A placeholder for web service elements.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="abstractWebServiceInterfaceType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:attribute name="name" type="mule:nonBlankString" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name used to identify this flow construct.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="version" type="mule:nonBlankString" use="optional" default="1.0">
                    <xsd:annotation>
                        <xsd:documentation>
                            The service interface version.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="description" type="mule:nonBlankString" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="abstractWebServiceType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:sequence>
                    <xsd:group ref="mule:messageSourceOrInboundEndpoint"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="mule:nonBlankString" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name used to identify this flow construct.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="description" type="mule:nonBlankString" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="interface-ref" type="mule:nonBlankString" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name used to identify this flow construct.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="initialState" default="started">
                    <xsd:annotation>
                        <xsd:documentation>
                            The initial state of the flow. Usually a flow is started automatically ("started"), but this attribute can be used to disable initial startup ("stopped").
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:NMTOKEN">
                            <xsd:enumeration value="started"/>
                            <xsd:enumeration value="stopped"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>                
           </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractWebServiceRoute">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:attribute name="description" type="mule:nonBlankString" use="optional">
                    <xsd:annotation>
                        <xsd:documentation>
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractWebServiceOperationType">
        <xsd:complexContent>
            <xsd:extension base="abstractWebServiceRoute">
                <xsd:attribute name="flow-ref" type="mule:nonBlankString" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Flow that is to handler operation.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
           </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
