src/main/resources/META-INF/mule-api-rest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/api-rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:api="http://www.mulesoft.org/schema/mule/api" xmlns:mule="http://www.mulesoft.org/schema/mule/core"
    xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc" xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://www.mulesoft.org/schema/mule/api-rest" elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/api" schemaLocation="http://www.mulesoft.org/schema/mule/api/current/mule-api.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc" schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.3/mule-schemadoc.xsd" />


    <xsd:element name="interface" substitutionGroup="api:abstract-web-service-interface">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="api:abstractWebServiceInterfaceType">
                    <xsd:sequence>
                        <xsd:element name="document-resource" type="documentResourceType" minOccurs="0" maxOccurs="1"/>
                        <!--
                        <xsd:element name="collection-resource" type="collectionResourceType" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="controller-resource" type="controllerResourceType" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="store-resource" type="storeResourceType" minOccurs="0" maxOccurs="1"/>
                        -->
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service" substitutionGroup="api:abstract-web-service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="api:abstractWebServiceType" />
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="abstractResourceType">
        <xsd:complexContent>
            <xsd:extension base="api:abstractWebServiceRoute">
                <xsd:sequence>
                    <xsd:element name="create" type="createType" minOccurs="0" maxOccurs="1"/>
                    <!--
                    <xsd:element name="retrieve" type="retrieveType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="update" type="updateType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="delete" type="deleteType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="exists" type="existsType" minOccurs="0" maxOccurs="1"/>
                    -->
                </xsd:sequence>
                <xsd:attribute name="name" type="mule:nonBlankString" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name used to identify this flow construct.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="documentResourceType">
        <xsd:complexContent>
            <xsd:extension base="abstractResourceType"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractActionType">
        <xsd:complexContent>
            <xsd:extension base="api:abstractWebServiceOperation"/>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="createType">
        <xsd:complexContent>
            <xsd:extension base="abstractActionType"/>
        </xsd:complexContent>
    </xsd:complexType>


</xsd:schema>
