src/main/resources/META-INF/mule-api-rest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/api-rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:api="http://www.mulesoft.org/schema/mule/api" xmlns:mule="http://www.mulesoft.org/schema/mule/core"
    xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc" xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://www.mulesoft.org/schema/mule/api-rest" elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/api" schemaLocation="http://www.mulesoft.org/schema/mule/api/current/mule-api.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc" schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.3/mule-schemadoc.xsd" />

    <xsd:element name="api" type="api:apiType"/>

    <xsd:element name="interface" substitutionGroup="api:abstract-web-service-interface">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="api:abstractWebServiceInterfaceType">
                    <xsd:sequence>
                        <xsd:choice minOccurs="1" maxOccurs="unbounded">
                            <xsd:element name="collection-resource" type="collectionResourceType" />
                            <xsd:element name="document-resource" type="documentResourceType" />
                            <!-- <xsd:element name="controller-resource" type="controllerResourceType" minOccurs="0" 
                                maxOccurs="1"/> <xsd:element name="store-resource" type="storeResourceType" minOccurs="0" maxOccurs="1"/> -->
                            <xsd:element name="pojo-resource" type="pojoResourceType"/>
                        </xsd:choice>
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service" substitutionGroup="api:abstract-web-service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="api:abstractWebServiceType">
                    <xsd:attribute name="enableSwagger" type="mule:substitutableBoolean"
                        default="true" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="abstractResourceType">
        <xsd:complexContent>
            <xsd:extension base="api:abstractWebServiceRoute">
                <xsd:attribute name="name" type="mule:nonBlankString" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name used to identify this flow construct.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="collectionResourceType">
        <xsd:complexContent>
            <xsd:extension base="abstractResourceType">
                <xsd:sequence>
                    <xsd:element name="retrieve" type="retrieveType" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="member" type="collectionResourceMemberType" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="pojoResourceType">
        <xsd:complexContent>
            <xsd:extension base="abstractResourceType">
                <xsd:attribute name="resource-ref" type="xsd:string"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="collectionResourceMemberType">
        <xsd:complexContent>
            <xsd:extension base="mule:annotatedType">
                <xsd:sequence>
                    <xsd:element name="representation" type="representationType" minOccurs="0"
                        maxOccurs="unbounded" />
                    <xsd:element name="create" type="createType" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="retrieve" type="retrieveType" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="update" type="updateType" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="delete" type="deleteType" minOccurs="0" maxOccurs="1" />
                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element name="document-resource" type="documentResourceType" />
                        <xsd:element name="collection-resource" type="collectionResourceType" />
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="documentResourceType">
        <xsd:complexContent>
            <xsd:extension base="abstractResourceType">
                <xsd:sequence>
                    <xsd:element name="representation" type="representationType" minOccurs="0"
                        maxOccurs="unbounded" />
                    <xsd:element name="retrieve" type="retrieveType" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="update" type="updateType" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="document-resource" type="documentResourceType" minOccurs="0"
                        maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractRestOperationType">
        <xsd:complexContent>
            <xsd:extension base="api:abstractWebServiceOperationType">
                <xsd:sequence>
                    <xsd:element name="representation" type="representationType" minOccurs="0"
                        maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="createType">
        <xsd:complexContent>
            <xsd:extension base="abstractRestOperationType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="retrieveType">
        <xsd:complexContent>
            <xsd:extension base="abstractRestOperationType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="updateType">
        <xsd:complexContent>
            <xsd:extension base="abstractRestOperationType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="deleteType">
        <xsd:complexContent>
            <xsd:extension base="abstractRestOperationType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="existsType">
        <xsd:complexContent>
            <xsd:extension base="abstractRestOperationType" />
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="representationType">
        <xsd:attribute name="mediaType" type="xsd:string" />
        <xsd:attribute name="quality" type="qualitySimpleType" />
        <xsd:attribute name="schemaType" type="schemaTypeSimpleType" />
        <xsd:attribute name="schemaLocation" type="xsd:string" />
    </xsd:complexType>

    <xsd:simpleType name="qualitySimpleType">
        <xsd:annotation>
            <xsd:documentation>
                A custom xsd:long type that also allows for Ant-style property placeholders.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="mule:propertyPlaceholderType" />
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="0" />
                    <xsd:maxInclusive value="1" />
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

    <xsd:simpleType name="schemaTypeSimpleType">
        <xsd:union>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="JSONSchema"/>
                    <xsd:enumeration value="XMLSchema"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType>
                <xsd:restriction base="mule:propertyPlaceholderType" />
            </xsd:simpleType>
        </xsd:union>
    </xsd:simpleType>

</xsd:schema>
