mule-module-apikit/src/main/resources/META-INF/mule-api-ws.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/api-ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:api="http://www.mulesoft.org/schema/mule/api" xmlns:mule="http://www.mulesoft.org/schema/mule/core"
    xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc" xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://www.mulesoft.org/schema/mule/api-ws" elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" />
    <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.1.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/api" schemaLocation="http://www.mulesoft.org/schema/mule/api/3.3/mule-api.xsd" />
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/schemadoc" schemaLocation="http://www.mulesoft.org/schema/mule/schemadoc/3.3/mule-schemadoc.xsd" />

    <xsd:element name="api" type="api:apiType"/>

    <xsd:element name="interface" substitutionGroup="api:abstract-web-service-interface">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="api:abstractWebServiceInterfaceType">
                    <xsd:sequence>
                        <xsd:element ref="operation" />
                    </xsd:sequence>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="operation" substitutionGroup="api:abstract-web-service-operation">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="api:abstractWebServiceOperationType">
                    <xsd:attribute name="name" type="mule:nonBlankString" use="required">
                        <xsd:annotation>
                            <xsd:documentation>
                                The name used to identify this flow construct.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>

                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="service" substitutionGroup="api:abstract-web-service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="api:abstractWebServiceType" />
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
